<div class="feature" id="about">
  <div class="container">
    <div class="section-header text-center">
      <p>About Us</p>
      <h2>Our Key Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="feature-text">
          <div class="feature-img">
            <div class="row">
              <div class="col-6">
                <img src="../../assets/img/feature-1.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/feature-3.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/feature-4.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/feature-2.jpeg" alt="Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-md">
            <div class="feature-item">
              <p>
                <span class="name">Choco<span class="two">Nest</span></span>
                <span class="name">
                  - You Name It,
                  <span class="two"> We Bake It! </span></span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="feature-item">
              <h3>Best quality Goodies</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="feature-item">
              <h3>Perfect Quantity</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="feature-item">
              <h3>Punctual Deliveries</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-text">
          <div class="feature-img">
            <div class="row">
              <div class="col-6">
                <img src="../../assets/img/f1.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/f4.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/f3.jpg" alt="Image" />
              </div>
              <div class="col-6">
                <img src="../../assets/img/f2.jpg" alt="Image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
