.navbar {
  transition: 0.5s;
  z-index: 999;
}

.bg-light {
  background: #ffffff !important;
  padding-bottom: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}

.navbar img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .navbar {
    width: 100%;
    z-index: 9;
    transition: 0.5s;
  }

  .bg-light {
    background: #fff !important;
  }

  .navbar img {
    width: 130px;
  }
}

@media (max-width: 576px) {
  .navbar img {
    width: 100px;
  }
}
